{% load static %}
<section class="recent-blog-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10">آخرین پست ها</h1>
                    <p>نمایه ای از شش پست آخر</p>
                    <p>توی قسمتی که آخرین پست ها رو که توی بلاگ تغییر دادین من سی.اس.اس رو به صد پیکسل که تغییر میدم لحاظ نمیشه، میشه لطفا اون قسمت رو یک نگاه بندارین</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-recent-blog-carusel">
                {% for post in posts%}
                <div class="single-recent-blog-post item">
                    <div class="thumb">
                        <img class="img-fluid" src="{{post.image.url}}" alt="">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <ul>
                                <li>
                                    <a href="{% url 'blog:single' pid=post.id %}">Travel</a>
                                </li>
                                <li>
                                    <a href="{% url 'blog:single' pid=post.id %}">Life Style</a>
                                </li>
                            </ul>
                        </div>
                        <a href="{% url 'blog:single' pid=post.id %}">
                            <h4 class="title">{{post.title}}</h4>
                        </a>
                        <p>
                            {{post.content|truncatewords:15}}
                        </p>
                        <h6 class="date">{{post.published_date|date:'Y/m/d'}}</h6>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>